.config/zsh/.zcompdump
.config/nvim/plugin/packer_compiled.lua
.config/zsh/.p10k.zsh
.config/zsh/.chpwd-recent-dirs
.config/lazygit/state.yml
.config/firefox
!.config/firefox/chrome/
!.config/firefox/extensions/
!.config/firefox/user.js
