# vim:set ft=snippets
# Last Change: Mon, 21 Nov 2022 10:35:49

snippet #!
	#!/bin/bash
	$1

snippet _skel
	#!/bin/bash
  # Filename: ${TM_FILENAME}
  # Last Change: ${CURRENT_DAY_NAME_SHORT}, ${CURRENT_DATE} ${CURRENT_MONTH_NAME_SHORT} ${CURRENT_YEAR} - ${CURRENT_HOUR}:${CURRENT_MINUTE}
  # Author: ${CURRENT_USER}
	$1

